- title @mailing.name

%p
  %strong From:
  =h @mailing.from
%p
  %strong Subject:
  =h @mailing.subject
%p
  %strong Html Body
  %br
  =@mailing.html_body
%p
  %strong Plain Body
  %br
  =h @mailing.plain_body
%p
  =link_if_allowed("Send emails", send_emails_mailing_proc(@mailing), :confirm => "Are you sure?") if @mailing.not_sent?
-options_panel do
  =back_link
  =link_if_allowed "View mails", mails_proc(:mailing_id => @mailing)  
  =link_if_allowed "Edit", edit_mailing_proc(@mailing)
  =link_if_allowed "Delete", @mailing, :method => :delete, :confirm => "Are you sure?"