#header
  #header_inside
    .cycle_nav
      .cycle_nav_inner
      %a.cycle_next{ :href => "#" }
        next image
      %a.cycle_prev{ :href => "#" }
        previous image
    #user_links
      - if logged_in?
        = link_to 'Logout', session_path, :method => :delete
        =link_if_allowed 'Admin', admin_proc
        -if @logged_in_member.is_primary_or_secondary?
          =link_to 'Documents', documents_path
        %strong
          = link_to @logged_in_member.full_name, (@logged_in_member.not_primary_or_secondary? ? member_path(@logged_in_member) : '#'), :class => 'member-name'
    %h1#site_logo
      = link_to 'Sheffield Young Carers', :home
    =link_to 'Make a referral', '/referrals', :id => 'referral_button'
    =link_to 'Donate', 'https://uk.virginmoneygiving.com/fundraiser-web/donate/makeDonationForCharityDisplay.action?charityId=1001629&frequencyType=S', :id=>'donate'
  
  #home_slideshow
    .cycle
      #home_photo_1
      #home_photo_2
      #home_photo_3
      #home_photo_4
      #home_photo_5         