#header
  #header_inside
    .cycle_nav
      .cycle_nav_inner
      %a.cycle_next{ :href => "#" }
        next image
      %a.cycle_prev{ :href => "#" }
        previous image
    #user_links
      - if logged_in?
        = link_to 'Logout', session_path, :method => :delete
        =link_if_allowed 'Admin', admin_proc
        %strong
          = link_to @logged_in_member.full_name, member_path(@logged_in_member)
    %h1#site_logo
      = link_to 'Sheffield Young Carers', :home  
    =link_to 'Donate here &rarr;', 'http://www.thebiggive.org.uk/charity.php?charity_id=6896&search=46a5c1ef-6bef-4252-a5c3-88abf6fd01b8', :id=>'donate'
  
  #home_slideshow
    .cycle
      #home_photo_1
      #home_photo_2
      #home_photo_3
      #home_photo_4
      #home_photo_5         