#nav
  %ul
    %li#link_home
      =link_to 'Home', {:controller => '/home'}
    %li#link_about_us
      =link_to "About us", Section.about_us
    %li#link_what_we_do
      =link_to 'What we do', Section.are_you
    %li#link_news
      =link_to 'News', Section.news
    %li#link_ypp
      =link_to 'Young People', Section.ypp
    %li#link_contact_us
      =link_to "Contact us", new_enquiry_path(:id => 'contact')

  #search_box
    -form_for Search.new do |search_form|
      =search_form.text_field :term, :id => 'search_field'
      =submit_tag "Search", :name => nil, :id => 'search_icon'
  