%li.document_folder_item
  =link_to folder, folder
  -bracket(:class => 'admin_links') do
    -separate_links do
      =link_if_allowed 'Edit', edit_document_folder_proc(folder)
      =link_if_allowed 'Delete', folder, :method => :delete, :confirm => "Are you sure you want to delete this section? (all its documents will also be deleted)"
      =link_if_allowed "New document", new_document_folder_document_proc(folder)
  -unless folder.documents.empty?
    %ul
      -folder.documents.each do |document|
        =render("document", :document => document)