-title (@logged_in_member.is_admin? ? "All documents" : "Your documents")
-if @document_folders.blank? && @documents_without_folder.blank?
  %p No documents yet.
-elsif @logged_in_member.is_admin?
  %ul.tabs_container
    -@document_tabs.each do |tab|
      =document_tab_heading(tab, @selected_tab)
  %br.clear
  #document_tab_content
    =render 'folders'
-else
  =render 'folders'
      
-options_panel do
  =back_link
  -if allowed_to?(new_document_folder_proc)
    =link_to "New #{@selected_tab} folder", "/document_folders/new/#{@selected_tab}"
  -if allowed_to?(new_document_proc)
    =link_to "New #{@selected_tab} document", "/documents/new/#{@selected_tab}"