-title (@logged_in_member.is_admin? ? "All documents" : "Your documents")
-if @document_folders.blank? && @documents_without_folder.blank?
  %p No documents yet.
-else
  %ul#document_list
    -@document_folders.each do |folder|
      =render('folder', :folder => folder)
    -@documents_without_folder.ordered_by_name.each do |document|
      =render('document', :document => document)
      
-options_panel do
  =back_link
  =link_if_allowed "New folder", new_document_folder_proc
  =link_if_allowed "New document", new_document_proc