-title @document_folder.name
-if @document_folder.documents.empty?
  %p No documents.
-else
  %ul
    -@document_folder.documents.each do |document|
      %li=link_to(document, document)
      
-options_panel do
  =back_link
  =link_if_allowed("Edit Folder", edit_document_folder_proc(@document_folder))
  -if allowed_to?(new_document_folder_document_proc(@document_folder))
    =link_to("Add #{@document_folder.context.capitalize} Document to this folder", "/document_folders/#{@document_folder.id}/documents/new/#{@document_folder.context}")
    
