#map
  =link_to image_tag("http://maps.google.com/maps/api/staticmap?center=53.362911,-1.470388&zoom=15&size=300x300&maptype=roadmap&sensor=false&markers=color:blue|53.362911,-1.470388"), "http://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=Sheaf+Bank+Business+Park+Unit+R7b,+20+Prospect+Road,+Sheffield+S2+3EN+&sll=53.361706,-1.469958&sspn=0.010475,0.016587&gl=uk&ie=UTF8&hq=&hnear=Unit+R7b,+Sheaf+Bank+Business+Park,+20+Prospect+Rd,+Heeley,+Sheffield,+South+Yorkshire+S2+3EN,+United+Kingdom&ll=53.36291,-1.470387&spn=0.010474,0.016587&z=16"
%p#address
  Sheffield Young Carers Project
  %br
  Sheaf Bank Business Park
  %br
  Unit R7b, Riverside Block
  %br
  20 Prospect Road
  %br
  Sheffield
  %br
  S2 3EN
%p#phone
  Alternatively you can phone us on 0114 2584595, or fill in the form below:
-params[:enquiry_fields] ||= {}
-semantic_fields_for "enquiry_fields" do |fields|
  -fields.inputs do
    =fields.input :name, :input_html => {:value => params[:enquiry_fields][:name] ||= @logged_in_member}
    =fields.input :email_address, :input_html => {:value => params[:enquiry_fields][:email_address] ||= (@logged_in_member.email unless @logged_in_member.nil?)}
    =fields.input :address, :as => 'text', :input_html => {:value => params[:enquiry_fields][:address], :rows => 4}
    =fields.input :message, :as => 'text', :input_html => {:value => params[:enquiry_fields][:message]}
