%h1.page_title
  =@page.title
%br.clear
.left_col
  %h2
    -if @page.root_section == Section.are_you
      Are you...
    =@page.section.name
  %ul
    -@page.section.pages.published.each do |page|
      %li
        =link_to page.title, page
    -@page.section.children.each do |section|
      %li
        =link_to section.name, section

-unless @page.published?
  %p#page_status
    =@page.status_string
.main_col
  =render :partial => 'content', :locals => {:page => @page}
  =render('staff_members/table') if @page.staff_members?
  -if @page == Page.find_us
    %br.clear
    #find_us_map
      %h4
        Our location
      =link_to image_tag("http://maps.google.com/maps/api/staticmap?center=53.362911,-1.470388&zoom=15&size=405x400&maptype=roadmap&sensor=false&markers=color:blue|53.362911,-1.470388"), "http://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=Sheaf+Bank+Business+Park+Unit+R7b,+20+Prospect+Road,+Sheffield+S2+3EN+&sll=53.361706,-1.469958&sspn=0.010475,0.016587&gl=uk&ie=UTF8&hq=&hnear=Unit+R7b,+Sheaf+Bank+Business+Park,+20+Prospect+Rd,+Heeley,+Sheffield,+South+Yorkshire+S2+3EN,+United+Kingdom&ll=53.36291,-1.470387&spn=0.010474,0.016587&z=16", :target => "_blank"  
  %br.clear
  -options_panel do
    ="Tagged #{in_tags(@page)}" unless @page.tags.empty?
    =link_if_allowed 'Edit', edit_page_proc(@page)
    =link_if_allowed 'Delete', page_proc(@page), :method => :delete, :confirm => 'Are you sure you want to delete this page?'
    =link_if_allowed 'Add page', new_section_page_proc(@page.section)
    =link_if_allowed 'Edit section', edit_section_proc(@page.section)
    =link_if_allowed 'Manage staff team', staff_members_proc if @page.staff_members?
.right_col
  -if @page.has_photo?
    .article_image
      =photo_for(@page, "304x")    
  =snippet(@page, :call_to_action)
%br.clear
-if @page.has_related_items?
  #other_stuff
    %h2
      Other Stuff
    =render_related_items(@page)