- title "Edit Photo Album"
= render :partial => 'form', :locals => {:photo_album => @photo_album}
- options_panel do
  = link_if_allowed "Cancel", photo_album_photos_proc(@photo_album)
  = link_if_allowed "Delete", @photo_album, :confirm => "Are you sure? This will also delete #{pluralize(@photo_album.photos.size, 'photo')} from the album", :method => :delete
