- semantic_form_for document, :html => {:multipart => true} do |form|
  -form.inputs do
    =form.input :name  
    =form.input :file, :as => :file
    -if document.new_record? && document.errors.empty? && document.folder
      =form.input :folder_id, :as => :hidden
    -else
      =form.input :folder, :as => :select, :collection => DocumentFolder.send("for_#{form.object.context}") unless DocumentFolder.send("for_#{form.object.context}").count.zero?

    =form.input :context, :as => :hidden
    =form.input :member_id, :as => :hidden
  - form.buttons do 
    = form.commit_button