- semantic_form_for document, :html => {:multipart => true} do |form|
  -form.inputs do
    =form.input :name  
    =form.input :file, :as => :file
    =form.input :member_id, :as => :hidden
  - form.buttons do 
    = form.commit_button