-title (@logged_in_member.is_admin? ? "All documents" : "Your documents")
-if @documents.blank?
  %p No documents yet.
-elsif @logged_in_member.is_admin?
  %ul.tabs_container
    -@document_tabs.each do |tab|
      =document_tab_heading(tab, @selected_tab)
  %br.clear
  #document_tab_content
    =render 'documents'
-else
  =render 'documents'

-options_panel do
  =back_link
  =link_if_allowed "New document", {:controller => 'documents', :action => 'new', :context => @selected_tab}
