%p
  = "Please enter the details of the #{page.type_name} below."
-semantic_fields_for page do |fields|
  -fields.inputs do
    =fields.input :section, :prompt => false
    =fields.input :title
    =#fields.input :intro, :input_html => {:rows => 5, :cols => 97} # summary snippet id used instead
    =fields.input :text, :as => :ck_text
    %li=fields.photo_browser_button :photo
