-semantic_fields_for page do |fields|
  -fields.inputs do
    =fields.input :snippet_summary, :as => :ck_text, :label => 'Summary', :input_html => {:height => 100}
    =fields.input :snippet_call_to_action, :as => :ck_text, :label => 'Call to action', :input_html => {:height => 100}