-semantic_form_for(:report, :url => reports_path, :method => :post) do |form|
  =hidden_field_tag :name, @report.name
  -form.inputs do
    =form.input :view, :label => 'Format', :as => :radio, :collection => [['Web page', 'html'], ['Excel (2003 and newer)', 'xls'], ['CSV/Excel (2003 and older)', 'csv']]
  -form.buttons do
    =form.submit 'Report'
-options_panel do
  =back_link
